body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}
main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas:
        'header'
        'hero'
        'service'
        'freelance'
        'testimonials'
        'footer'
        'navig';
    gap: 30px;
}
.content {
    margin-top: 50px;
    margin-bottom: 30px;
}
.container {
    width: 100%;
    border: 1px solid black;
    line-height: 50px;
    border-radius: 6px;
    text-align: center;
}
.grid-container-column {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    background-color: yellow;
}
.header {
    position: fixed;
    top: 0;
    grid-area: header;
    background-color: red;
}
.hero {
    grid-area: hero;
    background-color: green;
}
.service {
    grid-area: service;
    background-color: blueviolet;
}
.freelance {
    grid-area: freelance;
    background-color: orange;
}
.testimonials {
    grid-area: testimonials;
    background-color: brown;
}
.footer {
    grid-area: footer;
    background-color: green;
}
.navig {
    position: fixed;
    bottom: 0;
    grid-area: navig;
    background-color: red;
}
@media (min-width: 768px) {
    .grid-container-column {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

    .grid-container {
        grid-template-areas:
            'header'
            'hero'
            'service'
            'testimonials'
            'freelance'
            'footer';
    }

    .navig {
    }
}
@media (min-width: 962px) {
    main {
        display: grid;
        grid-template-rows: 1fr;
        gap: 10px;
        grid-template-areas:
            'header'
            'hero'
            'service'
            'testimonials'
            'freelance'
            'footer';
    }

    .navig {
        display: none;
    }
}
