body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}
main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas:
        'hero'
        'ads'
        'service'
        'freelance'
        'testimonials'
        'footer'
        'navig';
    gap: 10px;
}
.content {
    margin-top: 60px;
    margin-bottom: 60px;
}
.container {
    width: 100%;
    border: 1px solid black;
    line-height: 50px;
    border-radius: 6px;
    text-align: center;
}
.grid-container-column {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    background-color: yellow;
    align-content: center;
}
.header {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    top: 0;
    grid-area: header;
    grid-template-areas:
        'logo'
        'navheader'
        'icon';
    background-color: white;
}
.logo {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    height: 40px;
    grid-area: img;
    opacity: 0;
}
.icon {
    color: black;
    text-decoration: none;
    font-size: 14px;
    display: none;
}
icon {
    grid-area: icon;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.hero {
    grid-area: hero;
    background-color: green;
}
.ads {
    grid-area: ads;
    background-color: brown;
    display: none;
}
.service {
    grid-area: service;
    background-color: blueviolet;
}
.freelance {
    grid-area: freelance;
    background-color: orange;
}
.testimonials {
    grid-area: testimonials;
    background-color: brown;
}
.footer {
    grid-area: footer;
    background-color: green;
}
navig {
    position: fixed;
    bottom: 0;
    grid-area: navig;
    background-color: white;
}
a {
    display: inline-block;
    padding: 20px 5px;
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    grid-area: nav;
}
navheader {
    display: none;
}
@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-rows: 1fr;
        gap: 10px;
        grid-template-areas:
            'hero'
            'ads'
            'service'
            'testimonials'
            'freelance'
            'footer'
            'navig';
    }
    .grid-container-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .service > .grid-container-column {
        display: grid;
        grid-template-columns: 50px 1fr 1fr 50px;
        gap: 10px;
    }
    .content {
        margin-top: 10px;
    }
    .navig {
        display: none;
    }
    .header {
        position: relative;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'img . icon';
    }
    .icon {
        display: inline-block;
        float: left;
        padding: 20px 10px;
    }
    .logo {
        opacity: 1;
    }
}
@media (min-width: 920px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        grid-template-areas:
            'hero hero hero hero'
            'testimonials testimonials testimonials ads'
            'testimonials testimonials testimonials ads'
            'service service service ads'
            'service service service ads'
            'freelance freelance freelance ads'
            'footer footer footer footer';
    }
    .testimonials > .grid-container-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .service > .grid-container-column {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .content {
        margin-top: 10px;
    }
    .ads {
        display: grid;
    }
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'img navheader icon';
        position: relative;
    }
    .icon {
        display: inline-block;
        float: left;
        padding: 20px 10px;
    }
    .logo {
        opacity: 1;
    }
    navheader {
        display: flex;
        justify-content: center;
    }
}
